{% load staticfiles %}

<link rel="stylesheet" href="{% static "css/reset.css" %}">
<link rel="stylesheet" href="{% static "css/text.css" %}">
<link rel="stylesheet" href="{% static "css/960.css" %}">
<link rel="stylesheet" href="{% static "css/style.css" %}">


<div class="container_12">
	
	<div class="logoContainer">
		<div class="grid_12">
			<img src="{% static "css/gfx/logo.png" alt="Logo" %}"/>
		</div>
	</div>
		
	
	
	<div class="grid_12">
		<div class="loginContainer">
			<h1>Sistema de Registre Integral</h1>
			<form action="" method="post">
				 {% csrf_token %}
				<input name="user" type="text" class="grid_4" placeholder="Usuari" required="required"/>
				<br>
				<br>
				<input name="password" type="password" class="grid_4" placeholder="Contrasenya" required="required"/>
				<br>
				<br>
				<button value="Login" class="button small" type="submit">Login</button>
			</form>
		</div>
	</div>