{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="iso-8859-1" />
	<title>Hackathon for Social Good 2013 - Barcelona</title>
<link rel="stylesheet" href="{% static "css/reset.css" %}">
<link rel="stylesheet" href="{% static "css/text.css" %}">
<link rel="stylesheet" href="{% static "css/960.css" %}">
<link rel="stylesheet" href="{% static "css/style.css" %}">
<link rel="stylesheet" href="{% static "css/button.css" %}">
</head>

<body>
<div class="container_12">

    		<div class="grid_1 push_11">
    			<a href="/logout">Logout</a>
    		</div>



	<div id="contenidor">
		<div class="grid_6">
      <div class="button-box1">
             	<a href="4_listOfFamilies.html" class="button">Expedients Familiars</a>


      </div>
    </div>
    <div class="grid_6">
      <div class="button-box2">
              	<a href="5_attendance.html" class="button">Assistències</a>

     	</div>
    </div>
  	<div class="clear"></div>
      <div class="grid_6">
    		<div class="button-box1">
        	<a href="/fitxes" class="button">Fitxes</a>

    	</div>
    </div>
    <div class="grid_6">
   		<div class="button-box2">
     	<a href="6_fees.html" class="button">Quotes</a>
   	</div>
   </div>
 	</div>
</div>

</body>

</html>

