<!DOCTYPE html>
<html>
    <head>
        <title>Hackathon for Social Good 2013 - Barcelona</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
	    <link rel="stylesheet" href="css/reset.css">
       	<link rel="stylesheet" href="css/text.css">
		<link rel="stylesheet" href="css/960.css">
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>
	<div class="container_12">	
	
	<div class="grid_8">
		<h1 class="pageHeader">Dades Generals Familiars</h1>
	</div>
	<div class="grid_4">
		<h1>Família Gonzalez</h1>
	</div>
	
	<div class="grid_12">
		<form action="#" method="post" enctype="text/plain">
			<fieldset>
                <legend><h3>DADES MARE / TUTORA LEGAL</h3></legend>
                <label for="nom">Nom: </label><input id="nomMare" name="nomMare" type="text" /><br/>
                <label for="cognoms">Cognoms: </label><input id="cognomsMare" name="cognomsMare" type="text" /><br/>
                <label for="tel">Telèfon: </label><input id="telMare" name="telMare" type="text" /><br/>
                <label for="dir">Adreça: </label><input id="dirMare" name="dirMare" type="text" /><br/>
            </fieldset>
            <fieldset>
            	<legend>Observacions:</legend>
            	<textarea cols="70" rows="5">Comentaris...</textarea><br/><br/>
            </fieldset>
            <fieldset>
                <legend><h3>DADES PARE / TUTOR LEGAL</h3></legend>
                <label for="nom">Nom: </label><input id="nomPare" name="nomPare" type="text" /><br/>
                <label for="cognoms">Cognoms: </label><input id="cognomsPare" name="cognomsPare" type="text" /><br/>
                <label for="tel">Telèfon: </label><input id="telPare" name="telPare" type="text" /><br/>
                <label for="dir">Adreça: </label><input id="dirPare" name="dirPare" type="text" /><br/>
            </fieldset>
            <fieldset>
            	<legend>Observacions:</legend>
            	<textarea cols="70" rows="5">Comentaris...</textarea><br/><br/>
            </fieldset>
            <input type="reset" value="Borrar"/><input type="submit" value="Enviar"/>
            




		</form>	
	</div>
		
</div>
</body>
</html>