<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/text.css">
<link rel="stylesheet" href="css/960.css">
<link rel="stylesheet" href="css/style.css">

<div class="container_12">	
    		<div class="grid_1 push_11">
    			<a href="1_login.html">Logout</a>
    		</div>
	
	<div class="grid_12">
		<h1 class="pageHeader">Family 1</h1>
	</div>
	
	<div class="grid_8">
		<div class="leftColumn">
			<ul>
				<li><a href="4.1.1.b_familyForm.html">Family 1 Data</a></li>
				<li><a href="b4_familyMonitoring.html">Family 1 Doc</a></li>
			
				<li><a href="#">Child 1</a></li>
				<li><a href="#">Child 2</a></li>
				
			</ul>
		</div>
	</div>
	
	<div class="grid_4">
		<div class="rightColumn">
			<div class="buttonCol">
				<button class="button addButton">+ Nou child </button>	
			</div>
		</div>
	</div>
		
	
</div>