<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/text.css">
<link rel="stylesheet" href="css/960.css">
<link rel="stylesheet" href="css/style.css">

<div class="container_12 listOfFamilies">	
    		<div class="grid_1 push_11">
    			<a href="1_login.html">Logout</a>
    		</div>
	
	<div class="grid_12">
		<h1 class="pageHeader">Assistències</h1>
	</div>
	
	<div class="grid_8">
		<div class="leftColumn">
			<div class="grid_8 alpha omega">
				<input type="search" placeholder="Buscador..."/>
			</div>
			<div class="grid_8 alpha omega">
				<ol>
					<li><a href="5.1_group.html">Group 1</a></li>
					<li><a href="5.1_group.html">Group 2</a></li>
					<li><a href="5.1_group.html">Group 3</a></li>
					<li><a href="5.1_group.html">Group 4</a></li>	
				</ol>
			</div>	
		</div>
	</div>
	
	<div class="grid_4">
		<div class="rightColumn">
			<button class="button callToActionButton"><span class="addSign">+</span>Afegir nou grup</button>
		</div>
	</div>
	
		
</div>