<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/text.css">
<link rel="stylesheet" href="css/960.css">
<link rel="stylesheet" href="css/style.css">

<div class="container_12">
			<div class="grid_1 push_11">
    			<a href="1_login.html">Logout</a>
    		</div>
	
	<div class="grid_4">
		<h1 class="pageHeader">Quotes / Fees</h1>
	</div>
	
	<div class="grid_8">
		<button class="button callToActionButton">+ Crear nuevo curso / New course</button>
	</div>
	
	<div class="grid_12">
		<h2>CONTROL DE QUOTES (FEES CONTROL)</h2>
		<p>Curs 2013-2014</p>
	</div>
	
	<div class="grid_12">
		<button>+ Afegir família</button>
	</div>
	
	<div class="grid_12">
		<table>
			<tr class="titleRow">
				<td class="grid_3 alpha">Família</td>
				<td class="grid_1">1T</td>
				<td class="grid_1">2T</td>
				<td class="grid_1">3T</td>
				<td class="grid_1">Estiu</td>
				<td class="grid_3">Afegir nova columna</td>
				<td class="grid_3 omega">Total</td>
			</tr>
			
			<tr class="tableItem">
				<td>Family 1</td>
				<td>/</td>
				<td>/</td>
				<td>/</td>
				<td>/</td>
				<td>/</td>
				<td>/</td>
			</tr>
			<tr class="tableItem">
				<td>Family 2</td>
				<td>/</td>
				<td>/</td>
				<td>/</td>
				<td>/</td>
				<td>/</td>
				<td>/</td>
			</tr>
			
			<tr class="tableItem">
				<td>Family 3</td>
				<td>/</td>
				<td>/</td>
				<td>/</td>
				<td>/</td>
				<td>/</td>
				<td>/</td>
			</tr>

		</table>		
	</div>
	
	
</div>