<!DOCTYPE html>
<html>
    <head>
        <title>Hackathon for Social Good 2013 - Barcelona</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
	    <link rel="stylesheet" href="css/reset.css">
       	<link rel="stylesheet" href="css/text.css">
		<link rel="stylesheet" href="css/960.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="container_12">
			<div class="grid_8">
				<h1 class="pageHeader">Seguiment Familiar</h1>
			</div>
			<div class="grid_4">
				<h1>Família Gonzalez</h1>
			</div>
			<div id="container_esq">
			

			<div class="grid_12">
				<table>
			<tr class="titleRow">
				<td class="grid_3 alpha">Data</td>
				<td class="grid_1">Document</td>
				<td class="grid_1">Servei</td>
				<td class="grid_1">Autor</td>
			</tr>
		</table>
			</div>
		</div>
		<div id="container_esq">
			<div class="grid_1 prefix_7 suffix_4">
				<button class="button callToActionButton">+ Nova fitxa</button>
			</div>
</div>
<div id="container_esq">
			<div class="grid_1 prefix_10 suffix_1">
				<div class="button-box1">
					<button class="button ">Documents externs</button>
				</div>
				<div class="button-box2">
							<button class="button ">Documentació</button>
						</div>
						<div class="button-box1">
				<button class="button ">Xarxa de contactes</button>
			</div>
			<div class="button-box2">
				<button class="button ">Quotes</button>
			</div>
								
			</div>
		</div>





		</div>
	</body>
</html>