<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'></meta>
<title>Entrevista Inicial</title>
<link type="text/css" rel="stylesheet" href="site.css" />
</head>
<body>
<header>
<table>
<tr>
<td class='left'><h1>LOGO</h1></td>
<td class='mid'><h1>Entrevista Inicial<br>
    <span class='curs'>
    Curs 2012-13</span>
</h1></td>
<td class='right'><div class='block1'></div>
<span style='text-align:center'>Nom i cognoms del/la menor</span><br></span>
<p>&nbsp;</p>
<span style='text-align:left'>Data</span>
</td>
</tr>
</table>
</header>
<div>
</div>
</body>
</html>
