<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'></meta>
<title>Inscripio</title>
<link type="text/css" rel="stylesheet" href="site.css" />
</head>
<body>
<header>
<table>
<tr>
<td class='left'><h1>LOGO</h1></td>
<td class='mid'><h1>
    Inscripcio<br>
    <span class='curs'>
    Curs 2012-13</span>
</h1>
</td>
<td class='left'><h1>Boilerplate</h1></td>
</tr>
</table>
</header>
<div>
<p><strong>Normativa Interna</strong></p>
<ul>
<li>Aqusta inscripcio, per a ser effectiva, ha d'anar acompanyada per la documentacio requerida previament.</li>
<li>Tot usuari/a de l'AEIRaval es assegurat per l'entitat i se li garanteixen les degudes condicions d'higiene i seguretat.</li>
<li>L'assistencia ha de ser pactada a la inscripcio, amb un minim de tres ies a la setmana. En cas d'incompliment, es valorara el cessament de la placa.</li>
</ul>
<p><em>Dies que vindra</em></p>
<ul>
<li>Aqusta inscripcio, per a ser effectiva, ha d'anar acompanyada per la docume$
<li>Tot usuari/a de l'AEIRaval es assegurat per l'entitat i se li garanteixen l$
<li>L'assistencia ha de ser pactada a la inscripcio, amb un minim de tres ies a$
</ul>
<p><em>Persones que el/la recolliran</em></p>
<ul>
<li>Aqusta inscripcio, per a ser effectiva, ha d'anar acompanyada per la docume$
<li>Tot usuari/a de l'AEIRaval es assegurat per l'entitat i se li garanteixen l$
<li>L'assistencia ha de ser pactada a la inscripcio, amb un minim de tres ies a$
</ul>
<p><em>Families 10$ Alteres suplements d'activitats extraordinaries (es valorara individualment)</p>
<ul>
<li>Aqusta inscripcio, per a ser effectiva, ha d'anar acompanyada per la docume$
<li>Tot usuari/a de l'AEIRaval es assegurat per l'entitat i se li garanteixen l$
<li>L'assistencia ha de ser pactada a la inscripcio, amb un minim de tres ies a$
</ul>
</div>
</div>
</body>
</html>
