<!DOCTYPE html> 
<html> 
<head> 
<meta charset='utf-8'></meta> 
<title>Valoracio beques de centre obert</title> 
<link rel="stylesheet" href="{% static "css/reset.css" %}"> 
<link rel="stylesheet" href="{% static "css/text.css" %}"> 
<link rel="stylesheet" href="{% static "css/960.css" %}"> 
<link rel="stylesheet" href="{% static "css/style.css" %}">
</head> 
<body> 
<header> 
<div 
class="container_12">
        <div class="logoContainer">
                <div class="grid_6 push_6">
                        <a href="#">
                        <img src="{% static "css/gfx/logo.png" alt="Logo" %}"/>
                        </a>
        </div>
        </div>
        </div>

<h1>
    Valoracio beques de centre obert<br>
    <span class='curs'>
    Curs 2012-13</span>
</h1>
<div>
<p>Data&nbsp;&nbsp;{{ data }}</p>
</div>
</header>
<div>
</div>
</body>
</html>
