<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/text.css">
<link rel="stylesheet" href="css/960.css">
<link rel="stylesheet" href="css/style.css">

<div class="container_12">

  	<div class="grid_1 push_11">
    	<a href="login.html">Logout</a>
    </div>

    <div class="clear"></div>

    <div id="mainMenuContainer">
  		<div class="grid_6">
       	<a href="expedients.html" class="button large">Expedients Familiars</a>
      </div>
      
      <div class="grid_6">
       	<a href="5_attendance.html" class="button large">Assistències</a>
      </div>
    
      <div class="grid_6">
      	<a href="3_forms.html" class="button large">Fitxes</a>
      </div>
    
      <div class="grid_6">
       	<a href="6_fees.html" class="button large">Quotes</a>
     	</div>
    </div>
</div>


