<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/text.css">
<link rel="stylesheet" href="css/960.css">
<link rel="stylesheet" href="css/style.css">

<div class="container_12">
    		<div class="grid_1 push_11">
    			<a href="1_login.html">Logout</a>
    		</div>
    		
	
	<div class="grid_8">
		<h1 class="pageHeader">Fitxes</h1>
	</div>
	
	<div class="grid_4">
		<button class="button addButton">+ Nova fitxa</button>
	</div>
	
	<div class="grid_12">
		<ol>
			<li><a href="#">Ficha XXX</a></li>
			<li><a href="#">Ficha XXX</a></li>
			<li><a href="#">Ficha XXX</a></li>
			<li><a href="#">Ficha XXX</a></li>
		</ol>
	</div>
	
</div>