
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/text.css">
    <link rel="stylesheet" href="css/960.css">
    <link rel="stylesheet" href="css/style.css">
  
    <div class="container_12">
      
      <div class="grid_12">
        <h1 class="pageHeader">
          Curs 2013-2014
        </h1>
 
      </div>
      
      <div class="grid_12">
        <h2>
          Group 1
        </h2>
      </div>
      
      
      <div class="grid_12">
      	<div class="contentHeaderContainer">
            <select>
            	<option selected="selected">Enero</option>
            	<option>Febrero</option>
            	<option>Marzo</option>
            </select>
        </div>
       </div>

      
      
      <div class="grid_12">
      <div class="contentContainer">
        <table class="inputTable" border="1" width="100%">
          <tr class="titleRow">
            <td>
              Name
            </td>
            <td>
              1.
            </td>
            <td>
              2.
            </td>
            <td>
              3.
            </td>
            <td>
              4.
            </td>
            <td>
              5.
            </td>
            <td>
              6.
            </td>
            <td>
              7.
            </td>
            <td>
              8.
            </td>
            <td>
              9.
            </td>
            <td>
              10.
            </td>
            <td>
              11.
            </td>
            <td>
              12.
            </td>
            <td>
              13.
            </td>
            <td>
              14.
            </td>
            <td>
              15.
            </td>
            <td>
              16.
            </td>
            <td>
              17.
            </td>
            <td>
              18.
            </td>
            <td>
              19.
            </td>
            <td>
              20.
            </td>
            <td>
              21.
            </td>
            <td>
              22.
            </td>
            <td>
              23.
            </td>
            <td>
              24.
            </td>
            <td>
              25.
            </td>
            <td>
              26.
            </td>
            <td>
              27.
            </td>
            <td>
              28.
            </td>
            <td>
              29.
            </td>
            <td>
              30.
            </td>
            <td>
              31.
            </td>
          </tr>
          
          
          <tr>
            <td>
              Child
            </td>
            <td>
              <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
              <input type="text" maxlength="1" value="J"/>

            </td>
            <td>
              <input type="text" maxlength="1" value="M"/>
            </td>
            <td>
             <input type="text" maxlength="1" value="M"/>

            </td>
            <td>
              <input type="text" maxlength="1" value="M"/>

            </td>
            <td>
              <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
            <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
              <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
              <input type="text" maxlength="1" value="F"/>
            </td>
            <td>
              <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
              <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
              <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>                        
          </tr>
          
          
          <tr>
            <td>
              Child 2
            </td>
            <td>
              <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
              <input type="text" maxlength="1" value="J"/>

            </td>
            <td>
              <input type="text" maxlength="1" value="M"/>
            </td>
            <td>
             <input type="text" maxlength="1" value="M"/>

            </td>
            <td>
              <input type="text" maxlength="1" value="M"/>

            </td>
            <td>
              <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
            <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
              <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
              <input type="text" maxlength="1" value="F"/>
            </td>
            <td>
              <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
              <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
              <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>                        
          </tr>
          
          
         <tr>
            <td>
              Child 3
            </td>
            <td>
              <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
              <input type="text" maxlength="1" value="J"/>

            </td>
            <td>
              <input type="text" maxlength="1" value="M"/>
            </td>
            <td>
             <input type="text" maxlength="1" value="M"/>

            </td>
            <td>
              <input type="text" maxlength="1" value="M"/>

            </td>
            <td>
              <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
            <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
              <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
              <input type="text" maxlength="1" value="F"/>
            </td>
            <td>
              <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
              <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
              <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>
            <td>
               <input type="text" maxlength="1" value="X"/>
            </td>                        
          </tr>
          
          
          
        </table>
        </div>
      </div>
      
     
      
      
      
      <div class="grid_11">
        <ul>
          <li>
            X - Assistencia
          </li>
          <li>
            J - Falta justificada
          </li>
          <li>
            M - Malaltia
          </li>
          <li>
            F - Falta sense justificar 
          </li>
        </ul>
      </div>
     
      
     
     <div class="grid_1">
           <a href="c3_report.html">Imprimir historial</a>

      </div>
      

      
      
    </div>
