<!DOCTYPE html>
<html lang="en">
  
  <head>
   
    <title>
     </title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/text.css">
    <link rel="stylesheet" href="css/960.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  
  <body>
    <div class="container_12">
      
          		<div class="grid_1 push_11">
    			<a href="1_login.html">Logout</a>
    		</div>
    		
      <div class="grid_12">
        <h1 class="pageHeader">
          Historial d´assistências
        </h1>
 
      </div>
      
      
      <div class="grid_12">
        <h2>
          Group 1
        </h2>
      </div>
      
      
      <div class="grid_12">
      	<div class="contentHeaderContainer">
            <select>
            	<option selected="selected">Enero</option>
            	<option>Febrero</option>
            	<option>Marzo</option>
            </select>
        </div>
       </div>

      
      
      <div class="grid_12">
      <div class="contentContainer">
        <table border="1" width="100%">
          <tr>
            <td>
              Name
            </td>
            <td>
              X - ASSISTENCIA
            </td>
            <td>
              J - FALTA JUSTIFICADA
            </td>
            <td>
              M - MALALTIA
            </td>
            <td>
              F - FALTA SENSE JUSTIFICAR
            </td>
           
          </tr>
          
          
          <tr>
            <td>
              Child 1
            </td>
            <td>
              3
            </td>
            <td>
              20
            </td>
            <td>
              5
            </td>
            <td>
              2
            </td>                
          </tr>
          
          
             <tr>
            <td>
              Child 2
            </td>
            <td>
              3
            </td>
            <td>
              20
            </td>
            <td>
              5
            </td>
            <td>
              2
            </td>                
          </tr>


   <tr>
            <td>
              Child 3
            </td>
            <td>
              3
            </td>
            <td>
              20
            </td>
            <td>
              5
            </td>
            <td>
              2
            </td>                
          </tr>


   <tr>
            <td>
              Child 4
            </td>
            <td>
              3
            </td>
            <td>
              20
            </td>
            <td>
              5
            </td>
            <td>
              2
            </td>                
          </tr>

          
          
                </table>
      </div>
      </div>
      
     
      
      
      
            
      
    </div>
  </body>

</html>